.MenuContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.MenuHead{
    display: flex;
    flex-wrap: nowrap;
}

.MenuHead > a{
    display: flex;
    text-decoration: none;
    color: #A6A8AB;
}

.MenuHead > a:hover{
    color: #798198;
}

.MenuItems{
    display: flex;
    justify-content: flex-end;
}

.MenuItems > a:not(:last-child){
    margin-right: 50px;
}

.MenuItems > a {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #A6A8AB;
    text-decoration: none;
}

.MenuItems > a:hover{
    color: #798198;
}

@media only screen and (max-width: 800px) {
    .MenuContainer{
        flex-direction: column;
        align-items: flex-start;
    }

    .MenuItems > a{
        font-size: 20px;
        line-height: 44px;
    }

    .MenuItems > a:not(:last-child){
        margin-right: 25px;
    }
  }