.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
}

.HeaderScrolled {
    background: rgba(0,0,0,0.8);
    padding: 15px 0;
    backdrop-filter: blur(20px);
}

.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
}

.HeaderGroup a {
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    box-shadow: none;
    color: white;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
    text-rendering: optimizelegibility;
}

.HeaderGroup a:hover {
    background: white none repeat scroll 0% 0%;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 40px;
    transform: translateY(-3px);
}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(4, auto);
    }

    .HeaderGroup a {
        font-size: 10px;
    }
}