.Post {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
    padding: 15px;
}

.Post:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.Post h1 {
    text-align: justify;
    font-size: 30px;
    color: white;
}

.Post p {
    text-align: right;
    font-size: 20px;
    color: white;
}

@media (max-width: 640px) {
    .Post h1 {
        font-size: 20px;
  }
}

@media (max-width: 640px) {
    .Post p {
        font-size: 15px;
    }
}

.Posts {
    background-color: #1d1e26;
}

.Posts h2 {
    margin: 50px 20px;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(104.74deg, #F0F3F6 0%,#4A548C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 640px) {
    .Posts h2 {
        font-size: 30px;
  }
}

.Posts hr {
    max-width: 800px;
    color: rgba(255, 255, 255, 0.1);
}

.PostLang {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 100%;
    margin: 10px auto;
}

.Posts .PostLang h3 {
    color: white;
    margin: auto;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
}

@media (max-width: 640px) {
    .Posts .PostLang h3 {
        font-size: 15px;
  }
}